<header>
  <div class="header">
    <div class="logo">
      <p>Lib&Darr;<span class="imp-text">rary</span></p>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a href="/home">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Catalogue</a></li>
        <li><a href="#">Contact Us</a></li>
        <li class="signup"><a href="/signup">SignUp/SignIn</a></li>
      </ul>
    </nav>
  </div>
</header>
