.signup-container {
  width: 100%;
  height: 80rem;
  background-color: #c7f9cc;
  display: flex;
  align-items: center;
}

.signup-box {
  max-width: 60rem;
  margin: 0 auto;
  background-color: #80ed99;
  padding: 9rem 13rem;
  border-radius: 12px;
}

.signup-box p {
  font-size: 1.8rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  background-color: #57cc99;
  padding: 2rem 4rem;
  border-radius: 12px;
}

.sign-up-form label {
  font-size: 2.4rem;
  color: #555;
  text-align: center;
  font-weight: 600;
}

.submit-btn {
  align-self: center;
}
