/* colors */
/* #22577A
38A3A5
57CC99
80ED99
C7F9CC 
f1faee*/

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%%;
}

/* Utility classes */
.imp-text {
  color: #22577a;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
}

/* header nav */
header {
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 3fr 10fr;
  background-color: #c7f9cc;
  padding: 0.6rem 0rem;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  justify-self: center;
}

.main-nav {
  justify-self: end;
  font-size: 0.9rem;
}

.main-nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-items: center;
}

.main-nav-list li {
  margin-right: 2.4rem;
}

.main-nav-list li a {
  text-decoration: none;
  color: #333;
}

.main-nav-list li a:hover,
.main-nav-list li a:active {
  color: #22577a;
}

.signup {
  background-color: #57cc99;
  color: #fff;
  padding: 0.6rem 2.8rem;
  border-radius: 11px;
}

/* Books Section */
.books-section {
  background-color: #c7f9cc;
  width: 100%;
  padding-bottom: 2rem;
  height: 150rem;
}

/* .container::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/main-background-2.jpg") no-repeat center;
    width: 100%;
    opacity: 0.7;
  } */

.container {
  max-width: 1200px;
  margin: 0.6rem auto;
  height: 90%;
  background-color: #c7f9cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 3rem 7rem;
}

.container h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0.6rem;
  padding-bottom: 0.6rem;
}

.grid-books {
  max-width: 700px;
  align-self: stretch;
  background-color: #57cc99;
  border-radius: 12px;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 2.2rem;
}

.card-book {
  width: 100%;
  /* width: 50rem;
    height: 25rem; */
  display: grid;
  gap: 1rem;
  grid-template-columns: 10rem 1fr;
  box-shadow: 5px 1px 15px 3px #333;
  border-radius: 12px;
}

.book-img {
  width: 100%;
}

.card-book img {
  width: 100%;
  /* z-index: -1; */
  border-radius: 12px;
  object-fit: cover;
  height: 100%;
}

.summary {
  width: 100%;
  overflow-wrap: break-word;
  justify-self: center;
  align-self: start;

  padding: 1.6rem 0.9rem;
}

.book-summary {
  list-style: none;
  max-width: 100%;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: match-parent;
  overflow-wrap: break-word;
}

/* .card-book {
    display: grid;
  }
  
  .book-img {
    height: 25rem;
    width: 25rem;
    border-radius: 15px;
    background-color: #38a3a5;
    justify-self: center;
    box-shadow: 5px 1px 15px 3px #333;
  }
   */
