body {
  font-size: 62.5%;
  font: "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f1faee;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.add-book {
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  border-radius: 12px;
  background-color: white;
  padding: 1.6rem 3.2rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  padding: 1.6rem 3.2rem;
}

.book-controllers {
  grid-column: 1/-1;
  display: flex;
}

.main-table-controller {
  display: flex;
}

.table-container {
  padding: 1.6rem 3.2rem;
  border: 1px solid #555;
  border-radius: 12px;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
}

.table-heading {
  align-self: flex-start;
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.table-main {
  grid-column: 1/-1;
  font-size: 0.9rem;
  padding: 1.6rem 3.2rem;
  /* background-color: white; */
  /* margin: 8rem 3.2rem; */
}

table {
  width: 100%;
  /* height: 100%; */
}

.table-top {
  background-color: #c7f9cc;
  color: #555;
}

.delete-book-btn {
  color: red;
  background-color: #80ed99;
  padding: 0.3rem;
  border-radius: 7px;
  font-weight: 500;
}
/* .main-table {
  width: 100%;
  height: 100%;
} */
